<!-- Sidebar -->
<section class="sidebar">
  <a href="/">
    <h1 class="heading">
      the illustrious<br>
      internet estate<br>
      of<br>
      Wes Vetter<br>
    </h1>
  </a>

  <span><p class="text-center">
    <a href="https://twitter.com/wesvetter"><i class="icon-twitter icon-2x"></i></a>
    <a href="https://github.com/wesvetter"><i class="icon-github icon-2x"></i></a>
    <a href="mailto:wes.vetter@gmail.com"><i class="icon-envelope icon-2x"></i></a>
  </p></span>

  <ul class="list-unstyled text-center">
    <li><a href="/about.html">About</a></li>
    <li><a href="/resume.html">Résumé</a></li>
    <li><a href="/">Posts</a></li>
  </ul>
</section>
