<!-- Sidebar -->
<span>
  <section class="sidebar">
    <section class="header">
      <a href="/">
        <h2 class="text-center estate">the illustrious</h2>
        <h2 class="text-center estate">internet estate</h2>
        <h3 class="text-center of">of</h3>
        <h1 class="text-center name"><em>Wessels</em></h1>
        <h1 class="text-center name"><em>Von Vetter</em></h1>
      </a>
    </section>

    <span><p class="text-center">
      <a href="https://twitter.com/wesvetter"><i class="icon-twitter icon-2x"></i></a>
      <a href="https://github.com/wesvetter"><i class="icon-github icon-2x"></i></a>
      <a href="mailto:wes.vetter@gmail.com"><i class="icon-envelope icon-2x"></i></a>
    </p></span>

    <section class="sections">
      <ul class="list-unstyled text-center">
        <li><a href="/about.html">About</a></li>
        <li><a href="/">Posts</a></li>
      </ul>
    </section>
  </section>
</span>
