<!-- Sidebar -->
<section class="sidebar">
  <section class="heading">
    <a href="/">
      <h1 class="estate">
        the illustrious<br>
        internet estate
      </h1>
      <h1 class="of">of</h1>
      <h1 class="name">
        Wessels<br>
        Von Vetter
      </h1>
    </a>
  </section>

  <span><p class="text-center">
    <a href="https://twitter.com/wesvetter"><i class="icon-twitter icon-2x"></i></a>
    <a href="https://github.com/wesvetter"><i class="icon-github icon-2x"></i></a>
    <a href="mailto:wes.vetter@gmail.com"><i class="icon-envelope icon-2x"></i></a>
  </p></span>

  <section class="sections">
    <ul class="list-unstyled text-center">
      <li><a href="/about.html">About</a></li>
      <li><a href="/resume.html">Résumé</a></li>
      <li><a href="/">Posts</a></li>
    </ul>
  </section>
</section>
