---
---

/* VARIABLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$screen-min: 1200px;
$cursive-font: cursive;
$serif-font: 'Garamond', serif;


/* GLOBAL
-------------------------------------------------- */
// make images responsive
img {
  max-width: 100%;
  height: auto;
}


/* TYPOGRAPHY
–––––––––––––––––––––––––––––––––––––––––––––––––– */
// Make everything a serif font by default.
h1, h2, h3, h4, h5, h6, p, li {
  font-family: $serif-font;
}

// Override the Bootstrap default font-size.
body {
  font-size: 18px;
}


/* SIDEBAR
-------------------------------------------------- */
.sidebar {

  @media screen and (min-width: $screen-min) { position: fixed; }


  .heading {
    line-height: 1.5em;
    text-align: center;
  }

  a {
    color: black;

    &:hover {
      color: grey;
      text-decoration: none;
    }
  }

  i {
    padding-left: 1pc;
    padding-right: 1pc;
  }

  li {
    font-size: 1.5em;
  }
}



/* INDEX PAGE
-------------------------------------------------- */
.post-title {
  font-family: $cursive-font;

  a { color: #333; }
  a:hover { color: gray; }
}


/* POST PAGE
-------------------------------------------------- */
.post {
  .title {
    margin: 20px 0 5px 0;

    a { color: #303030; }
  }

  .date {
    color: #999;
    font-size: 18px;
    margin: 0 0 10px 3px;
  }

  .post-body p {
    font-size: 18px;
    line-height: 1.7;
    margin-bottom: 20px;

    a { text-decoration: underline; }
  }

}


/* SOCIAL MEDIA WIDGET
-------------------------------------------------- */
.share img { margin-right: 10px; }


/* ABOUT PAGE
-------------------------------------------------- */
.about {
  h1 {
    margin-bottom: 25px 0 25px 0;
  }

  p {
    font-size: 18px;
    line-height: 1.3;
    margin-bottom: 20px;
    a { text-decoration: underline; }
  }
}


/* 404 PAGE
-------------------------------------------------- */
.error {
  h1 {
    font-size: 50px;
  }

  p {
    font-size: 18px;
  }

  .signature {
    font-family: $cursive-font;
    font-size: 30px;
  }

  a { text-decoration: underline; }
}
