/* INCLUDED FONTS
--------------------------------------------------
{ font-family: 'Rouge Script', cursive; }
{ font-family: 'Petit Formal Script', cursive; }
{ font-family: 'IM Fell French Canon', serif; }
{ font-family: 'Ovo', serif; }
{ font-family: 'EB Garamond', serif; }
{ font-family: 'Alegreya SC', serif; }
{ font-family: 'IM Fell Great Primer SC', serif; }
{ font-family: 'Gentium Book Basic', serif; }
{ font-family: 'Montaga', serif; }
{ font-family: 'Crimson Text', serif; }
{ font-family: 'Arizonia', cursive; }
*/
/* GLOBAL
-------------------------------------------------- */
img {
  max-width: 100%;
  height: auto; }

/* SIDEBAR
-------------------------------------------------- */
.sidebar {
  text-align: center; }
  @media screen and (min-width: 1200px) {
    .sidebar {
      position: fixed; } }
  .sidebar .estate {
    font-family: 'Alegreya SC', serif;
    line-height: 1.5em; }
  .sidebar .of {
    font-family: 'Alegreya SC', serif;
    font-size: 2em; }
  .sidebar .name {
    font-size: 4em;
    font-style: italic;
    font-family: 'Rouge Script', cursive;
    line-height: 1.5em; }
  .sidebar a {
    color: black; }
  .sidebar a:hover {
    color: grey;
    text-decoration: none; }
  .sidebar i {
    padding-left: 1pc;
    padding-right: 1pc; }
  .sidebar li {
    font-family: 'Alegreya SC', serif;
    font-size: 1.5em; }

/* FOOTER
-------------------------------------------------- */
.footer p {
  font-family: 'IM Fell Great Primer SC', serif; }

/* INDEX PAGE
-------------------------------------------------- */
.main-listing a {
  color: black; }
  .main-listing a .main-listing a:hover {
    color: grey;
    text-decoration: none; }

h3.post-title {
  font-family: 'Petit Formal Script', cursive; }

p.post-date {
  font-family: 'Crimson Text', serif; }

/* POST PAGE
-------------------------------------------------- */
.post .title {
  font-family: 'IM Fell French Canon', serif;
  color: #303030;
  margin: 20px 0 5px 0; }
.post .date {
  font-family: 'Crimson Text', serif;
  color: #999;
  font-size: 18px;
  margin: 0 0 10px 3px; }
.post .post-body p {
  font-family: 'EB Garamond', serif;
  font-size: 18px;
  line-height: 1.7;
  margin-bottom: 20px; }
.post h2, .post h3, .post h4, .post h5, .post h6 {
  font-family: 'EB Garamond', serif; }

/* SOCIAL MEDIA WIDGET
-------------------------------------------------- */
.share h3 {
  font-family: 'Alegreya SC', serif; }

.share img {
  margin-right: 10px; }

/* ABOUT PAGE
-------------------------------------------------- */
.about h1 {
  font-family: 'Alegreya SC', serif;
  margin-bottom: 25px 0 25px 0; }
.about p {
  font-family: 'EB Garamond', serif;
  font-size: 18px;
  line-height: 1.3;
  margin-bottom: 20px; }
  .about p a {
    text-decoration: underline; }

/* 404 PAGE
-------------------------------------------------- */
.error h1 {
  font-family: 'Rouge Script', cursive;
  font-size: 50px; }
.error p {
  font-family: 'IM Fell French Canon', serif;
  font-size: 18px; }
.error .signature {
  font-family: 'Arizonia', cursive;
  font-size: 30px; }
.error a {
  text-decoration: underline; }
