{% include header.html %}
<body>
  <div class="row">
    <div class="col-md-3 side-pane">
        {% include sidebar.html %}
    </div>
    <div class="col-md-6 main-listing">
      <!--[if lt IE 9]><div class="chromeframe">
        <p>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p>
      </div><![endif]-->
      {{ content }}
    </div>
    <div class="col-md-3 navbar">
    </div>
  </div>

  {% include footer.html %}
  <script src="js/jquery.js"></script>
  <script src="js/bootstrap.min.js"></script>
</body>
</html>
